
<p>
  <strong>Title:</strong>
  <%= @objection.title %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @objection.user.name %>
</p>

<p>
  <strong>Objection:</strong>
  <%= @objection.objection %>
</p>

<p>
  <strong>Rebuttal:</strong>
  <%= @objection.rebuttal %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @objection.tag %>
</p>


<% if current_user == @objection.user %>
  <%= link_to 'Edit', edit_objection_path(@objection) %> |
<% end %>
<%= link_to 'Back', objections_path %>

